@import "../../sass/variables";

.venue-images {
  display: flex;
  justify-content: center;
  max-width: 104em;
  margin-left: -7px;
  margin-right: -7px;
  box-sizing: border-box;

  &__image {
    height: 25rem;
    width: 25rem;
    margin: 0.5rem;
    box-sizing: border-box;
    border: 1px solid $border-color;
    @media (max-width: $medium-breakpoint) {
      width: 9.5rem;
      height: 9.5rem;
      margin: 0.3rem;
    }
  }
  .container {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
